<div id="dir" [ngClass]="isLeft? 'rtl':''" class="content-body">
    <!-- Content -->
    <div class="content">
            <div class="page-header">
<h2>{{'dashboard.settings' | translate}}</h2>
</div>

<div class="nav nav-pills mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<a class="nav-item nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">{{'dashboard.account' | translate}}</a>
<a class="nav-item nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{'dashboard.info' | translate}}</a>
<a class="nav-item nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'dashboard.security' | translate}}</a>
<a class="nav-item nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">{{'dashboard.social' | translate}}</a>
</div>
<div class="tab-content" id="v-pills-tabContent">
<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="content-title">
        <h4>{{'dashboard.account' | translate}}</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="d-flex mb-3">
                    <figure class="mr-4">
                        <img width="80" class="rounded-pill" src="../../assets/media/image/user/women_avatar1.jpg" alt="...">
                    </figure>
                    <div>
                        <p>Roxana Roussell</p>
                        <button class="btn btn-outline-primary mr-1">{{'dashboard.change' | translate}}</button>
                        <button class="btn btn-outline-danger mr-1">{{'dashboard.remove' | translate}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'dashboard.name2' | translate}}</label>
                            <input type="text" class="form-control" value="Roxana Roussell">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.username' | translate}}</label>
                            <input type="text" class="form-control" value="roxana-roussell">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.email' | translate}}</label>
                            <input type="text" class="form-control" value="wtaffe3@addthis.com">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'dashboard.role' | translate}}</label>
                            <select class="form-control">
                                <option value="">{{'dashboard.all' | translate}}</option>
                                <option value="">{{'dashboard.admin' | translate}}</option>
                                <option value="">{{'dashboard.user' | translate}}</option>
                                <option value="" selected>{{'dashboard.staff' | translate}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.status' | translate}}</label>
                            <select class="form-control">
                                <option value="">{{'dashboard.all' | translate}}</option>
                                <option value="" selected>{{'dashboard.active' | translate}}</option>
                                <option value="">{{'dashboard.blocked' | translate}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.department' | translate}}</label>
                            <select class="form-control">
                                <option value="">{{'dashboard.all' | translate}}</option>
                                <option value="">{{'dashboard.sales' | translate}}</option>
                                <option value="" selected>{{'dashboard.development' | translate}}</option>
                                <option value="">{{'dashboard.management' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">{{'dashboard.save' | translate}}</button>
            </form>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <div class="content-title">
        <h4>{{'dashboard.info' | translate}}</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'dashboard.birth' | translate}}</label>
                            <input type="text" class="form-control" value="Roxana Roussell">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.phone' | translate}}</label>
                            <input type="text" class="form-control" value="+65195892151">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.website' | translate}}</label>
                            <input type="text" class="form-control" value="http://laborasyon.com/">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.language' | translate}}</label>
                            <input type="text" class="form-control" value="http://laborasyon.com/">
                        </div>
                        <div class="form-group">
                            <p>{{'dashboard.gender' | translate}}</p>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">{{'dashboard.male' | translate}}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">{{'dashboard.female' | translate}}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio3">{{'dashboard.other' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'dashboard.address1' | translate}}</label>
                            <input type="text" class="form-control" value="A-65, Belvedere Streets">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.address2' | translate}}</label>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.post' | translate}}</label>
                            <input type="text" class="form-control" value="1868">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.city' | translate}}</label>
                            <input type="text" class="form-control" value="New York">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.state' | translate}}</label>
                            <input type="text" class="form-control" value="New York">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.country' | translate}}</label>
                            <input type="text" class="form-control" value="United States">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">{{'dashboard.save' | translate}}</button>
            </form>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    <div class="content-title">
        <h4>{{'dashboard.security' | translate}}</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'dashboard.old' | translate}}</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.new1' | translate}}</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>{{'dashboard.new2' | translate}}</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">{{'dashboard.save' | translate}}</button>
            </form>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
    <div class="content-title">
        <h4>{{'dashboard.social' | translate}}</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Twitter</label>
                            <input type="text" class="form-control" value="https://twitter.com/roxana-roussell">
                        </div>
                        <div class="form-group">
                            <label>Facebook</label>
                            <input type="text" class="form-control" value="https://www.facebook.com/roxana-roussell">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Instagram</label>
                            <input type="text" class="form-control" value="https://www.instagram.com/roxana-roussell/">
                        </div>
                        <div class="form-group">
                            <label>GitHub</label>
                            <input type="text" class="form-control" value="https://github.com/roxana-roussell">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">{{'dashboard.save' | translate}}</button>
            </form>
        </div>
    </div>
</div>
</div>
    </div>
    <!-- ./ Content -->
</div>