<div id="dir" [ngClass]="isLeft? 'rtl mr-n5':''" class="sidebar-group d-print-none left ml-n5">
    <div class="sidebar primary-sidebar show" id="storage">
        <div class="sidebar-header">
            <h4>{{'dashboard.storageOverview' | translate}}</h4>
        </div>
        <div class="sidebar-content">
            <div id="justgage_five" class="mb-3"></div>
            <div>
                <div class="list-group list-group-flush mb-3">
                    <a href="#" class="list-group-item px-0 d-flex align-items-center">
                        <div class="mr-3">
                            <figure class="avatar ml-2">
                                <span class="avatar-title bg-primary-bright text-primary rounded">
                                    <i class="fa fa-image"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0">{{'dashboard.images' | translate}}</p>
                            <span class="small text-muted">259 Files</span>
                        </div>
                        <div>
                            <h5 class="text-primary">15.7 GB</h5>
                        </div>
                    </a>
                    <a href="#" class="list-group-item px-0 d-flex align-items-center">
                        <div class="mr-3">
                            <figure class="avatar ml-2">
                                <span class="avatar-title bg-primary-bright text-primary rounded">
                                    <i class="fa fa-play"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0">{{'dashboard.videos' | translate}}</p>
                            <span class="small text-muted">8 Files</span>
                        </div>
                        <div>
                            <h5 class="text-primary">20 GB</h5>
                        </div>
                    </a>
                    <a href="#" class="list-group-item px-0 d-flex align-items-center">
                        <div class="mr-3">
                            <figure class="avatar ml-2">
                                <span class="avatar-title bg-primary-bright text-primary rounded">
                                    <i class="fa fa-files-o"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0">{{'dashboard.documents' | translate}}</p>
                            <span class="small text-muted">46 Files</span>
                        </div>
                        <div>
                            <h5 class="text-primary">10.5 GB</h5>
                        </div>
                    </a>
                    <a href="#" class="list-group-item px-0 d-flex align-items-center">
                        <div class="mr-3">
                            <figure class="avatar ml-2">
                                <span class="avatar-title bg-primary-bright text-primary rounded">
                                    <i class="fa fa-file-o"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0">{{'dashboard.files' | translate}}</p>
                            <span class="small text-muted">50 Files</span>
                        </div>
                        <div>
                            <h5 class="text-primary">2.8 GB</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="sidebar-footer">
            <div class="form-group">
                <input type="file"
                       id="file"
                       (change)="onChange($event)"
                       style="display: none;">
            </div>
            <button id="upload" class="btn btn-lg btn-block btn-outline-primary" (click)="upload()">
                <i class="fa fa-cloud-upload mr-3 ml-2"></i> {{'dashboard.upload' | translate}}
            </button>
        </div>
    </div>
</div>