.sidebar-group .sidebar-content {
    overflow: hidden;
}

.rtl {
left: 0 !important;
right: auto !important;
margin-left: -0!important;
border-right: 1px solid #dfdfdf;
}

h5 {
    font-family: "arial" !important;
    font-weight: 900 !important;
}