<div class="container">
<div class="content-title d-flex justify-content-between">
    <h4>{{'dashboard.recent' | translate}}</h4>
    <a href="#">{{'dashboard.viewAll' | translate}}</a>
</div>

<div class="mb-4">
    <div class="table-responsive">
        <table class="table table-borderless table-hover mb-0">
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Modified</th>
                <th>Label</th>
                <th>Members</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">
                        <figure class="avatar avatar-sm mr-2">
                            <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                <i class="fa fa-file-o"></i>
                            </span>
                        </figure>
                        User Research
                    </a>
                </td>
                <td>2MB</td>
                <td>3/9/19, 2:40PM</td>
                <td>
                    <div class="badge bg-warning-bright text-warning">Project</div>
                </td>
                <td>
                    <div class="avatar-group">
                        <figure class="avatar avatar-sm" title="Lisle Essam"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar2.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/man_avatar5.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                    </div>
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <figure class="avatar avatar-sm mr-2">
                            <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                <i class="fa fa-file-o"></i>
                            </span>
                        </figure>
                        Design Thinking Project
                    </a>
                </td>
                <td>10MB</td>
                <td>3/9/19, 2:40PM</td>
                <td>
                    <div class="badge bg-secondary-bright text-secondary">Software</div>
                </td>
                <td>
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <figure class="avatar avatar-sm mr-2">
                            <span class="avatar-title rounded-pill">
                                <i class="fa fa-file-o"></i>
                            </span>
                        </figure>
                        Meeting-notes.doc
                    </a>
                </td>
                <td>139KB</td>
                <td>3/9/19, 2:40PM</td>
                <td>
                    <div class="badge bg-primary-bright text-primary">Public</div>
                </td>
                <td>
                    <div class="avatar-group">
                        <figure class="avatar avatar-sm" title="Lisle Essam"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar2.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/man_avatar5.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Mella Mixter"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar1.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Jo Hugill"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/man_avatar1.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Cullie Philcott"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar5.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="" data-toggle="tooltip"
                                data-original-title="Cullie Philcott">
                            <span class="avatar-title bg-primary rounded-circle">+ 5</span>
                        </figure>
                    </div>
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <figure class="avatar avatar-sm mr-2">
                            <span class="avatar-title rounded-pill">
                                <i class="fa fa-image"></i>
                            </span>
                        </figure>
                        Sitemap.png
                    </a>
                </td>
                <td>810KB</td>
                <td>3/9/19, 2:40PM</td>
                <td>
                    <div class="badge bg-success-bright text-success">Social Media</div>
                </td>
                <td>
                    <div class="avatar-group">
                        <figure class="avatar avatar-sm" title="Lisle Essam"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar2.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/man_avatar5.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Mella Mixter"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar1.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                    </div>
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <figure class="avatar avatar-sm mr-2">
                            <span class="avatar-title rounded-pill">
                                <i class="fa fa-file-o"></i>
                            </span>
                        </figure>
                        Analytics.pdf
                    </a>
                </td>
                <td>10KB</td>
                <td>3/9/19, 2:40PM</td>
                <td>
                    <div class="badge bg-info-bright text-info">Design</div>
                </td>
                <td>
                    <div class="avatar-group">
                        <figure class="avatar avatar-sm" title="Lisle Essam"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar2.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/man_avatar5.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Mella Mixter"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar1.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                        <figure class="avatar avatar-sm" title="Mella Mixter"
                                data-toggle="tooltip">
                            <img src="../../assets/media/image/user/women_avatar4.jpg"
                                 class="rounded-circle"
                                 alt="image">
                        </figure>
                    </div>
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
