
<div id="dir" [ngClass]="isLeft? 'margin-right':''" class="container card bg-primary-bright border-0 mb-n5">
<div class="card-body">
    <div class="row">
        <div class="col-xl-2 col-md-3">
            <figure>
                <img class="img-fluid" src="../../assets/media/svg/upgrade.svg" alt="upgrade">
            </figure>
        </div>
        <div class="col-xl-10 col-md-9">
            <div class="d-md-flex align-items-center justify-content-between text-center text-md-left p-4 p-md-0">
                <div [ngClass]="isLeft? 'margin-right':''" class="mr-3">
                    <h4 class="mb-3">{{'dashboard.upgrade2' | translate}}</h4>
                    <p class="text-muted">{{'dashboard.upgradeMsg' | translate}}</p>
                    <a href="#" class="small">{{'dashboard.close' | translate}}</a>
                </div>
                <div class="flex-shrink-0 ml-3">
                    <button class="btn btn-outline-primary btn-lg2 mr-2">{{'dashboard.upgrade' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
