<div>
    <app-get-upgrade></app-get-upgrade>
</div>
<div id="dir" [ngClass]="isLeft? 'rtl container2':'ltr container2'">
<div class="row">
    <div class="col-md-6">
        <h4>{{'dashboard.DailyUsage' | translate}}</h4>
        <div id="daily-usage"></div>
    </div>
    <div class="row container col-md-3" [ngClass]="isLeft? 'mr-5':'ml-n5 mr-n5'">
    <app-report></app-report>
    </div>
</div>
</div>
<div class="row mt-n3 container" [ngClass]="isLeft? 'rtl mr-3':''">
    <div class="col-md-10">
        <app-favourites></app-favourites>
    </div>
</div>

<div class="row mt-n3 container" [ngClass]="isLeft? 'rtl mr-5':''">
    <div class="col-md-10">
        <app-quick-access></app-quick-access>
    </div>
</div>

<div class="row mt-n3 container" [ngClass]="isLeft? 'rtl mr-3':''">
    <div class="col-md-10">
        <app-recent-activities></app-recent-activities>
    </div>
</div>
