<div class="container">
<div class="content-title d-flex justify-content-between">
    <h4>{{'dashboard.favorite' | translate}}</h4>
    <a href="files.html">{{'dashboard.viewAll' | translate}}</a>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                    <div>
                        <i class="font-size-22 fa fa-folder"></i>
                    </div>
                    <div>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Baxie Roseblade">
                                <img src="../../assets/media/image/user/man_avatar5.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Mella Mixter">
                                <img src="../../assets/media/image/user/women_avatar1.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Jo Hugill">
                                <img src="../../assets/media/image/user/man_avatar1.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Cullie Philcott">
                                <span class="avatar-title bg-primary rounded-circle">+ 5</span>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <h5>Facebook Videos</h5>
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>
                <p class="small text-muted mb-0">1.754 Files</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                    <div>
                        <i class="font-size-22 fa fa-folder"></i>
                    </div>
                    <div>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Baxie Roseblade">
                                <img src="../../assets/media/image/user/man_avatar5.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Mella Mixter">
                                <img src="../../assets/media/image/user/women_avatar1.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Jo Hugill">
                                <img src="../../assets/media/image/user/man_avatar1.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Cullie Philcott">
                                <span class="avatar-title bg-primary rounded-circle">+ 5</span>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <h5>YouTube Videos</h5>
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>
                <p class="small text-muted mb-0">3.512 Files</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                    <div>
                        <i class="font-size-22 fa fa-folder"></i>
                    </div>
                    <div>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Baxie Roseblade">
                                <img src="../../assets/media/image/user/man_avatar5.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Mella Mixter">
                                <img src="../../assets/media/image/user/women_avatar1.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Jo Hugill">
                                <img src="../../assets/media/image/user/man_avatar1.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Cullie Philcott">
                                <span class="avatar-title bg-primary rounded-circle">+ 5</span>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <h5>Instagram Videos</h5>
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>
                <p class="small text-muted mb-0">1.908 Files</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                    <div>
                        <i class="font-size-22 fa fa-folder"></i>
                    </div>
                    <div>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Baxie Roseblade">
                                <img src="../../assets/media/image/user/man_avatar5.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" data-toggle="tooltip" title="Mella Mixter">
                                <img src="../../assets/media/image/user/women_avatar1.jpg" class="rounded-circle"
                                     alt="image">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <h5>My Downloads</h5>
                    <div class="dropdown">
                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
                            <a href="#" class="dropdown-item">Share</a>
                            <a href="#" class="dropdown-item">Download</a>
                            <a href="#" class="dropdown-item">Copy to</a>
                            <a href="#" class="dropdown-item">Move to</a>
                            <a href="#" class="dropdown-item">Rename</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>
                <p class="small text-muted mb-0">218 Files</p>
            </div>
        </div>
    </div>
</div>
</div>