<div id="dir" [ngClass]="isLeft? 'rtl navigation':'ltr navigation'">
    <div class="logo">
        <a [routerLink]="['/dashboard']">
            <img src="../../assets/media/image/logo.png" alt="logo">
        </a>
    </div>
    <ul>
        <li>
            <a [href]="['/dashboard']">
                <i class=" nav-link-icon fa fa-pie-chart"></i>
                <span class="nav-link-label">{{"dashboard.dashboard" | translate}}</span>
                <span class="badge badge-danger badge-small">2</span>
            </a>
        </li>
        <li>
            <a  [href]="['/files']">
                <i class="nav-link-icon fa fa-file"></i>
                <span class="nav-link-label">{{"dashboard.files" | translate}}</span>
            </a>
        </li>
        <li>
            <a  [href]="['/activities']">
                <i class="nav-link-icon fa fa-tasks"></i>
                <span class="nav-link-label">{{"dashboard.activities" | translate}}</span>
                <span class="badge badge-warning">New</span>
            </a>
        </li>
        <li>
            <a  [href]="['/users']">
                <i class="nav-link-icon fa fa-user-o"></i>
                <span class="nav-link-label">{{"dashboard.users" | translate}}</span>
            </a>
        </li>
        <li class="flex-grow-1">
            <a [href]="['/components']">
                <i class="nav-link-icon fa fa-files-o"></i>
                <span class="nav-link-label">{{"dashboard.components" | translate}}</span>
            </a>
        </li>
        <li>
            <a  [href]="['/settings']">
                <i class="nav-link-icon fa fa-cog"></i>
                <span class="nav-link-label">{{"dashboard.settings" | translate}}</span>
            </a>
        </li>
    </ul>
</div>