<div class="row mt-5 mr-n1">
    <div id="dir1" [ngClass]="isLeft? 'rtl1':''" class="col-xl-3 files-sidebar mt-5 mr-n5">
        <h2 [ngClass]="isLeft? 'title':''" >{{'dashboard.files' | translate}}</h2>

        <div class="card border-0 mr-n5">
            <h6 class="card-title">{{'dashboard.folders' | translate}}</h6>
            <div id="files"></div>
        </div>
    </div>
    <div id="dir2" [ngClass]="isLeft? 'rtl2':''" class="col-xl-8 mt-5 ml-n5">
        <div class="content-title mt-0 ml-n2">
            <h4>{{'dashboard.documents' | translate}}</h4>
        </div>
        <div class="d-md-flex justify-content-between mb-4 ml-n5">
            <ul class="list-inline mb-3">
                <li class="list-inline-item mb-0">
                    <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                        {{'dashboard.add' | translate}}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">{{'dashboard.newfolder' | translate}}</a>
                        <a class="dropdown-item" href="#">{{'dashboard.newfile' | translate}}</a>
                    </div>
                </li>
                <li class="list-inline-item mb-0 mr-1 ml-1">
                    <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                        {{'dashboard.tag' | translate}}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">{{'dashboard.public' | translate}}</a>
                        <a class="dropdown-item" href="#">{{'dashboard.project' | translate}}</a>
                        <a class="dropdown-item" href="#">{{'dashboard.software' | translate}}</a>
                        <a class="dropdown-item" href="#">{{'dashboard.media' | translate}}</a>
                        <a class="dropdown-item" href="#">{{'dashboard.design' | translate}}</a>
                    </div>
                </li>
                <li class="list-inline-item mb-0">
                    <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                        {{'dashboard.sort' | translate}}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">{{'dashboard.ascending' | translate}}</a>
                        <a class="dropdown-item" href="#">{{'dashboard.descending' | translate}}</a>
                    </div>
                </li>
            </ul>
            <div id="file-actions" class="d-none">
                <ul class="list-inline">
                    <li class="list-inline-item mb-0">
                        <a href="#" class="btn btn-outline-light" data-toggle="tooltip" title="Move">
                            <i class="ti-arrow-top-right"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mb-0">
                        <a href="#" class="btn btn-outline-light" data-toggle="tooltip" title="Download">
                            <i class="fa fa-download"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mb-0">
                        <a href="#" class="btn btn-outline-danger" data-toggle="tooltip" title="Delete">
                            <i class="ti-trash"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table id="table-files" class="table table-borderless table-hover">
                <thead>
                <tr>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="files-select-all">
                            <label class="custom-control-label" for="files-select-all"></label>
                        </div>
                    </th>
                    <th>{{'dashboard.name' | translate}}</th>
                    <th>{{'dashboard.modify' | translate}}</th>
                    <th>{{'dashboard.label' | translate}}</th>
                    <th>{{'dashboard.member' | translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                    <i class="fa fa-file-o"></i>
                                </span>
                            </figure>
                            <span class="d-flex flex-column">
                                <span class="text-primary">Design Thinking Project</span>
                                <span class="small font-italic">550 KB</span>
                            </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-info-bright text-info">Design</div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Jo Hugill"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar1.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Cullie Philcott"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                    <i class="fa fa-file-o"></i>
                                </span>
                            </figure>
                            <span class="d-flex flex-column">
                                <span class="text-primary">User Research</span>
                                <span class="small font-italic">250 KB</span>
                            </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                    <i class="fa fa-file-o"></i>
                                </span>
                            </figure>
                            <span class="d-flex flex-column">
                                <span class="text-primary">Important Documents</span>
                                <span class="small font-italic">590 KB</span>
                            </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                <span class="avatar-title rounded-pill">
                                    <i class="fa fa-file-o"></i>
                                </span>
                            </figure>
                            <span class="d-flex flex-column">
                                <span class="text-primary">Meeting-notes.doc</span>
                                <span class="small font-italic">139KB</span>
                            </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-primary-bright text-primary">Public</div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Mella Mixter"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar1.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="" data-toggle="tooltip"
                                    data-original-title="Cullie Philcott">
                                <span class="avatar-title bg-primary rounded-circle">+ 5</span>
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                        <span class="avatar-title rounded-pill">
                                            <i class="fa fa-file-o"></i>
                                        </span>
                            </figure>
                            <span class="d-flex flex-column">
                                <span class="text-primary">composer.json</span>
                                <span class="small font-italic">55 KB</span>
                            </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-primary-bright text-primary">Public</div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Mella Mixter"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar1.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Jo Hugill"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar1.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Cullie Philcott"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="" data-toggle="tooltip"
                                    data-original-title="Cullie Philcott">
                                <span class="avatar-title bg-primary rounded-circle">+ 5</span>
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                        <span class="avatar-title rounded-pill">
                                            <i class="fa fa-file-o"></i>
                                        </span>
                            </figure>
                            <span class="d-flex flex-column">
                                <span class="text-primary">error_log.txt</span>
                                <span class="small font-italic">2MB</span>
                            </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-warning-bright text-warning">Project</div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                        <span class="avatar-title rounded-pill">
                                            <i class="fa fa-file-o"></i>
                                        </span>
                            </figure>
                            <span class="d-flex flex-column">
                                <span class="text-primary">package.json</span>
                                <span class="small font-italic">5 KB</span>
                            </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-warning-bright text-warning">Project</div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                        <span class="avatar-title rounded-pill">
                                            <i class="fa fa-image"></i>
                                        </span>
                            </figure>
                            <span class="d-flex flex-column">
                                        <span class="text-primary">Sitemap.png</span>
                                        <span class="small font-italic">810KB</span>
                                    </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-success-bright text-success">Social Media</div>
                    </td>
                    <td>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                        <span class="avatar-title rounded-pill">
                                            <i class="fa fa-file-o"></i>
                                        </span>
                            </figure>
                            <span class="d-flex flex-column">
                                        <span class="text-primary">Analytics.pdf</span>
                                        <span class="small font-italic">10KB</span>
                                    </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-info-bright text-info">Design</div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <figure class="avatar avatar-sm" title="Lisle Essam"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar2.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/man_avatar5.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Mella Mixter"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar1.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                            <figure class="avatar avatar-sm" title="Mella Mixter"
                                    data-toggle="tooltip">
                                <img src="../../assets/media/image/user/women_avatar4.jpg"
                                     class="rounded-circle"
                                     alt="image">
                            </figure>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="d-flex align-items-center">
                            <figure class="avatar avatar-sm mr-3">
                                        <span class="avatar-title rounded-pill">
                                            <i class="fa fa-file-o"></i>
                                        </span>
                            </figure>
                            <span class="d-flex flex-column">
                                        <span class="text-primary">Task-list.txt</span>
                                        <span class="small font-italic">12 KB</span>
                                    </span>
                        </a>
                    </td>
                    <td>3/9/19, 2:40PM</td>
                    <td>
                        <div class="badge bg-info-bright text-info">Design</div>
                    </td>
                    <td>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View
                                    Details</a>
                                <a href="#" class="dropdown-item">Share</a>
                                <a href="#" class="dropdown-item">Download</a>
                                <a href="#" class="dropdown-item">Copy to</a>
                                <a href="#" class="dropdown-item">Move to</a>
                                <a href="#" class="dropdown-item">Rename</a>
                                <a href="#" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>