    <div class="card">
        <div class="card-body text-center">
            <div class="row mb-4">
                <div class="col-md-8 offset-md-2">
                    <img src="../../assets/media/svg/report.svg" class="img-fluid" alt="report">
                </div>
            </div>
            <h4 class="my-3">Create Report</h4>
            <p class="text-muted">Create reports to grow their business and serve their customers better. Use this tool to generate reports.</p>
            <button class="btn btn-outline-primary btn-lg2">Start Now</button>
        </div>
    </div>