<app-loading></app-loading>
<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="container">
    <app-files-directory></app-files-directory>
</div>

<app-sidebar-list></app-sidebar-list>