<div id="dir" [ngClass]="isLeft? 'rtl':''" class="content-body">
    <!-- Content -->
    <div class="content">
            <div class="page-header d-md-flex justify-content-between">
<h2>{{'dashboard.activities' | translate}}</h2>
<ul class="nav justify-content-end mt-4 mt-md-0">
    <li class="nav-item">
        <a class="nav-link active" href="#">{{'dashboard.today' | translate}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{{'dashboard.yesterday' | translate}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{{'dashboard.week' | translate}}</a>
    </li>
</ul>
</div>

<div class="row">
<div class="col-md-12">
    <div class="timeline">
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <img src="../../assets/media/image/user/women_avatar2.jpg"
                         class="rounded-circle"
                         alt="image">
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Lisle Essam</a> shared a link
                    </span>
                    <span class="text-muted font-weight-normal">4h</span>
                </h6>
                <a href="#">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, velit.</p>
                    <span class="text-primary">https://envato.com/</span>
                </a>
            </div>
        </div>
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <span class="avatar-title bg-success rounded-circle">C</span>
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        A file of <a href="#" class="link-1">Jonny Richie</a> has been shared.
                    </span>
                    <span class="text-muted font-weight-normal">4h</span>
                </h6>
                <div class="avatar-group">
                    <figure class="avatar" title="Lisle Essam"
                            data-toggle="tooltip">
                        <img src="../../assets/media/image/user/women_avatar2.jpg"
                             class="rounded-circle"
                             alt="image">
                    </figure>
                    <figure class="avatar" title="Baxie Roseblade"
                            data-toggle="tooltip">
                        <img src="../../assets/media/image/user/man_avatar5.jpg"
                             class="rounded-circle"
                             alt="image">
                    </figure>
                    <figure class="avatar" title="Baxie Roseblade"
                            data-toggle="tooltip">
                        <span class="avatar-title bg-secondary rounded-pill">A</span>
                    </figure>
                    <figure class="avatar" title="Jo Hugill"
                            data-toggle="tooltip">
                        <img src="../../assets/media/image/user/man_avatar1.jpg"
                             class="rounded-circle"
                             alt="image">
                    </figure>
                    <figure class="avatar" title="Cullie Philcott"
                            data-toggle="tooltip">
                        <img src="../../assets/media/image/user/women_avatar5.jpg"
                             class="rounded-circle"
                             alt="image">
                    </figure>
                    <figure class="avatar" title="Cullie Philcott"
                            data-toggle="tooltip">
                        <span class="avatar-title bg-warning rounded-pill">Z</span>
                    </figure>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <img src="../../assets/media/image/user/man_avatar1.jpg" class="rounded-circle" alt="avatar">
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Jo Hugill</a> uploaded new files
                    </span>
                    <span class="text-muted font-weight-normal">Tue 8:17pm</span>
                </h6>
                <div class="card card-body mb-3 d-flex justify-content-between flex-row">
                    <div>
                        <a href="#">
                            <i class="fa fa-file-pdf-o mr-2"></i> test-file-1.pdf
                        </a>
                        <span class="ml-3 small">70 KB</span>
                    </div>
                    <div>
                        <a href="#" title="View file">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
                <div class="card card-body mb-3 d-flex justify-content-between flex-row">
                    <div>
                        <a href="#">
                            <i class="fa fa-file-excel-o mr-2"></i> test-file-2.xlsx
                        </a>
                        <span class="ml-3 small">17 KB</span>
                    </div>
                    <div>
                        <a href="#" title="View file">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
                <div class="card card-body mb-3 d-flex justify-content-between flex-row">
                    <div>
                        <a href="#">
                            <i class="fa fa-file-text-o mr-2"></i> test-file-3.txt
                        </a>
                        <span class="ml-3 small">152 KB</span>
                    </div>
                    <div>
                        <a href="#" title="View file">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <span class="avatar-title bg-success rounded-circle">J</span>
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Jonny Richie</a> deleted 20 files in the <a href="#" class="link-1">User Research</a> folder.
                    </span>
                    <span class="text-muted font-weight-normal">4h</span>
                </h6>
            </div>
        </div>
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <img src="../../assets/media/image/user/women_avatar5.jpg" class="rounded-circle" alt="avatar">
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Cullie Philcott</a> uploaded a picture
                    </span>
                    <span class="text-muted font-weight-normal">Tue 8:17pm</span>
                </h6>
                <div class="row row-xs">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
                        <figure>
                            <img src="../../assets/media/image/portfolio-five.jpg"
                                 class="w-100 border-radius-1" alt="image">
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
                        <figure>
                            <img src="../../assets/media/image/portfolio-one.jpg"
                                 class="w-100 border-radius-1" alt="image">
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
                        <figure>
                            <img src="../../assets/media/image/portfolio-three.jpg"
                                 class="w-100 border-radius-1" alt="image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <span class="avatar-title bg-warning rounded-circle">M</span>
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Marc Richie</a> uploaded a video
                    </span>
                    <span class="text-muted font-weight-normal">Tue 8:17pm</span>
                </h6>
                <div class="row">
                    <div class="col-md-5">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/l-epKcOA7RQ"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    </div>
    <!-- ./ Content -->
</div>