<div class="container content-title d-flex justify-content-between">
    <h4>{{'dashboard.quick' | translate}}</h4>
    <a href="#">{{'dashboard.viewAll' | translate}}</a>
</div>

<div class="row mb-4">
    <div class="col-md-2 text-center">
        <div class="card mb-3">
            <div class="card-body">
                <a href="#" class="avatar avatar-lg">
                    <span class="avatar-title bg-primary rounded-pill">
                        <i class="fa fa-image"></i>
                    </span>
                </a>
            </div>
        </div>
        <h6>{{'dashboard.images' | translate}}</h6>
    </div>
    <div class="col-md-2 text-center">
        <div class="card mb-3">
            <div class="card-body">
                <a href="#" class="avatar avatar-lg">
                    <span class="avatar-title bg-secondary rounded-pill">
                        <i class="fa fa-play"></i>
                    </span>
                </a>
            </div>
        </div>
        <h6>{{'dashboard.videos' | translate}}</h6>
    </div>
    <div class="col-md-2 text-center">
        <div class="card mb-3">
            <div class="card-body">
                <a href="#" class="avatar avatar-lg">
                    <span class="avatar-title bg-success rounded-pill">
                        <i class="fa fa-music"></i>
                    </span>
                </a>
            </div>
        </div>
        <h6>{{'dashboard.music' | translate}}</h6>
    </div>
    <div class="col-md-2 text-center">
        <div class="card mb-3">
            <div class="card-body">
                <a href="#" class="avatar avatar-lg">
                    <span class="avatar-title bg-warning rounded-pill">
                        <i class="fa fa-file-o"></i>
                    </span>
                </a>
            </div>
        </div>
        <h6>{{'dashboard.documents' | translate}}</h6>
    </div>
    <div class="col-md-2 text-center">
        <div class="card mb-3">
            <div class="card-body">
                <a href="#" class="avatar avatar-lg">
                    <span class="avatar-title bg-info rounded-pill">
                        <i class="fa fa-download"></i>
                    </span>
                </a>
            </div>
        </div>
        <h6>{{'dashboard.downloads' | translate}}</h6>
    </div>
    <div class="col-md-2 text-center">
        <div class="card mb-3">
            <div class="card-body">
                <a href="#" class="avatar avatar-lg">
                    <span class="avatar-title rounded-pill">
                        <i class="fa fa-plus"></i>
                    </span>
                </a>
            </div>
        </div>
        <h6>{{'dashboard.add' | translate}}</h6>
    </div>
</div>